// Your variable overrides
// $body-bg: #000;
// $body-color: #ccc;

// $black:    #fff;
$black:    #fff;
$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$white:    #000;

$body-color: $gray-800;
$body-bg: $white;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
}

// Extracted html descriptions sometimes set font size to absurd sizes,
// when I just want consistent size
.desc font,
.desc {
  font-size: medium !important;
}

ul.affixes li {
  margin: 0;
  padding: 0;
  border: 0;
}
td ul.affixes {
  margin: 0;
}
ul.affixes {
  padding-left: 0;
  margin: 1em;
  margin-left: 0;
}
th.sticky {
  position: sticky;
  top: 0;
  background: $body-bg;
}
.loading-alert {
  position: sticky;
  top: 0;
  z-index: 99;
}
.nowrap {
  white-space: nowrap;
}
.item {
  display: inline-block;
}
.item img {
  // transform: scale(0.3);
  // width: 30%;
}
.gem-icon {
  height: 2em;
}
.item-icon {
  height: 1em;
  max-width: 1.5em;
}
img.skill-icon {
  height: 6em;
  border-radius: 1em;
}
img.skill {
  border-radius: 1em;
}
img.skill-variant {
  height: 5em;
}
.collapse-caret {
  float: left;
  margin-left: -0.6em;
  // width: 1.5em;
  line-height: 1.5;
}
.passive-range {
  border-radius: 0.2em;
  background-color: rgba(0,255,0,.3);
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.passive-melee {
  border-radius: 0.2em;
  background-color: rgba(255,0,0,.3);
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.passive-magic {
  border-radius: 0.2em;
  background-color: rgba(255,0,255,.3);
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
img.item-list-img {
  max-width: 100%;
  max-height: 12em;
}
img.unique-list-img {
  max-width: 100%;
  max-height: 20em;
}
.expand-affix-class {
  cursor: pointer;
}
.loading.progress .progress-bar {
  transition: none;
}
